<aside class="main-sidebar">
  <section class="sidebar">  
    <ul class="sidebar-menu">
      <li class="header">用户管理</li>
      <li class=""><a href="/admin/user/list"><i class="fa fa-cloud"></i> <span>用户列表</span></a></li>

      <li class="header">商品管理</li>
      <li class=""><a href="/admin/goods/list"><i class="fa fa-cloud"></i> <span>商品列表</span></a></li>
      <li class=""><a href="/admin/goods/add"><i class="fa fa-cloud"></i> <span>商品添加</span></a></li>

      <li class="header">订单管理</li>
      <li class=""><a href="/admin/order/list"><i class="fa fa-cloud"></i> <span>订单列表</span></a></li>

      <li class="header">外部订单管理</li>
      <li class=""><a href="/admin/outer/order/list"><i class="fa fa-cloud"></i> <span>外部订单列表</span></a></li>
      <li class=""><a href="/admin/outer/order/add"><i class="fa fa-cloud"></i> <span>新增外部订单</span></a></li>
      <li class=""><a href="/admin/outer/order/import"><i class="fa fa-cloud"></i> <span>导入外部订单</span></a></li>

      <li class="header">我的账号</li>
      <li><a href="/admin/logout"><i class="fa fa-circle-o text-aqua"></i> <span>退出登录</span></a></li>
    </ul>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </section>
</aside>
